<!DOCTYPE html>
<html lang="en">
<head>
<title>Registered | Glitch</title>
</head>
<body>
  <header>
    <%- include('./_header'); %>
  </header>
  <main>
    <p class="bold">Registered your wish!</p>
    <ul>
      <li>name: <%- username; %></li>
      <li>gift: <%- gift; %></li>
      <li>address: <%- address; %></li>
    </ul>
    <a href="http://localhost:3000">Main</a>
  </main>
  <%- include('./_footer'); %>

</body>
</html>
